{%- extends "base.html" %}
<body>
   {% block content %}
   <div class="row justify-content-between align-items-right">
      <div class="col-lg-auto"></div>
      <div class="col-lg-auto"></div>
      <div class="col-lg-auto">
         <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Last updated: <strong>{{ lastupdate }}</strong>
         </div>
      </div>
   </div>
   <div class="container">
      <div class="col-lg-12">
         <div class="page-header">
            <h1>Box Overview</h1>
         </div>
      </div>
   </div>
   <div class="container">
      <table class="table table-hover">
      <thead>
         <tr>
            <th scope="col">Host Name</th>
            <th scope="col">IP</th>
            <th scope="col">Services</th>
            <th scope="col">OS</th>
            <th scope="col">Running</th>
         </tr>
      </thead>
      <tbody>
         {% for box in boxes %}
         <tr style='cursor: pointer; cursor: hand;' onclick="window.location='{{ box.name }}';">
            <td>{{emoji}} <a>{{ box.name }}</a></td>
            <td>{{ box.ip }}</td>
            <td style="padding-left:55px">{{ box.services|length }}</td>
            <td>{{ box.OS }}</td>
            <td>
               {% if box.isOn == True %}
               <span class="badge rounded-pill bg-success">Up</span>
               {% else %}
               <span class="badge rounded-pill bg-danger">Down</span>
               {% endif %}
            </td>
   </td>
   </tr>
   {% endfor %}
   </tbody>
   </table>
   <form method="post">
      <input type="submit" value="Rescan Machines" class="btn btn-primary" name="RESCAN_BTN">
   </form>
   </div>
   {% endblock %}
</body> 